### Attribute information
* Invoice id: Computer generated sales slip invoice identification number
* Branch: Branch of supercenter (3 branches are available identified by A, B and C).
* City: Location of supercenters
* Customer type: Type of customers, recorded by Members for customers using member card and Normal for without member card.
* Gender: Gender type of customer
* Product line: General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel
* Unit price: Price of each product in $
* Quantity: Number of products purchased by customer
* Tax: 5% tax fee for customer buying
* Total: Total price including tax
* Date: Date of purchase (Record available from January 2019 to March 2019)
* Time: Purchase time (10am to 9pm)
* Payment: Payment used by customer for purchase (3 methods are available â€“ Cash, Credit card and Ewallet)
* COGS: Cost of goods sold
* Gross margin percentage: Gross margin percentage
* Gross income: Gross income
* Rating: Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)

In [1]:
import pandas as pd

In [2]:
#load the data
df = pd.read_csv("supermarket_sales.csv")
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [3]:
#view the last five
df.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [5]:
#check number of columns and rows
df.shape

(1000, 17)

In [6]:
#check the data types of the columns
df.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [10]:
#convert date to datetime
df['Date'] = pd.to_datetime(df['Date'])
df['Hour'] = pd.to_datetime(df['Time']).dt.hour
df.dtypes

Invoice ID                         object
Branch                             object
City                               object
Customer type                      object
Gender                             object
Product line                       object
Unit price                        float64
Quantity                            int64
Tax 5%                            float64
Total                             float64
Date                       datetime64[ns]
Time                               object
Payment                            object
cogs                              float64
gross margin percentage           float64
gross income                      float64
Rating                            float64
Hour                                int64
dtype: object

In [11]:
df.head(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Hour
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08,Ewallet,522.83,4.761905,26.1415,9.1,13
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29,Cash,76.40,4.761905,3.8200,9.6,10
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23,Credit card,324.31,4.761905,16.2155,7.4,13

In [12]:
#check missing values
df.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
Hour                       0
dtype: int64

### EDA

#### Total sales per branch

In [13]:
total_sales_per_branch = df.groupby("Branch")["Total"].sum()
total_sales_per_branch

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

,

In [15]:
branch_names = total_sales_per_branch.index.tolist()
branch_names

['A', 'B', 'C']

In [16]:
branch_total_sales = total_sales_per_branch.values.tolist()
branch_total_sales

[106200.3705, 106197.672, 110568.7065]

In [18]:
return_total_sales_by_branch = {"labels": branch_names, 
                                "data": branch_total_sales,
                                 "label": "Total sales per Branch"
                                  }
return_total_sales_by_branch

{'labels': ['A', 'B', 'C'],
 'data': [106200.3705, 106197.672, 110568.7065],
 'label': 'Total sales per Branch'}

### Sales by Gender

In [19]:
total_sales_by_gender = df.groupby("Gender")["Total"].sum()
total_sales_by_gender

Gender
Female    167882.925
Male      155083.824
Name: Total, dtype: float64

In [20]:
gender_names = total_sales_by_gender.index.tolist()
gender_names

['Female', 'Male']

In [21]:
gender_sales = total_sales_by_gender.values.tolist()
gender_sales

[167882.925, 155083.824]

In [22]:
return_sales_by_gender = {"labels": gender_names,
                          "data": gender_sales,
                          "label": "Total sales By Gender"
                          }
return_sales_by_gender

{'labels': ['Female', 'Male'],
 'data': [167882.925, 155083.824],
 'label': 'Total sales By Gender'}

### Function Definition

In [23]:
def univariate_data_analysis(groupby: str, column_of_interest: str, title: str):
    groupby_data = df.groupby(groupby)[column_of_interest].sum().sort_values(ascending=False)
    label_names = groupby_data.index.tolist()
    data = groupby_data.values.tolist()
    returning_data = {"labels": label_names, "data": data, "label": title }
    return returning_data

### Gross Income by Branch

In [24]:
gross_income_data = univariate_data_analysis("Branch", "gross income", "Gross profit per Branch")
gross_income_data

{'labels': ['C', 'A', 'B'],
 'data': [5265.1765, 5057.1605, 5057.032],
 'label': 'Gross profit per Branch'}

### Product Line By Total Sales

In [28]:
product_line_by_total_sales = univariate_data_analysis("Product line", "Total","Product Line By Total Sales")
product_line_by_total_sales

{'labels': ['Food and beverages',
  'Sports and travel',
  'Electronic accessories',
  'Fashion accessories',
  'Home and lifestyle',
  'Health and beauty'],
 'data': [56144.844, 55122.8265, 54337.5315, 54305.895, 53861.913, 49193.739],
 'label': 'Product Line By Total Sales'}

### Product Line By Gross Income

In [31]:
product_line_by_gross_income = univariate_data_analysis("Product line", "gross income", "Product Line By Gross income")
product_line_by_gross_income

{'labels': ['Food and beverages',
  'Sports and travel',
  'Electronic accessories',
  'Fashion accessories',
  'Home and lifestyle',
  'Health and beauty'],
 'data': [2673.564, 2624.8965, 2587.5015, 2585.995, 2564.853, 2342.559],
 'label': 'Product Line By Gross income'}

### Product Line By Rating

In [32]:
product_line_by_rating = univariate_data_analysis("Product line", "Rating", "Product Line By Rating")
product_line_by_rating

{'labels': ['Fashion accessories',
  'Food and beverages',
  'Electronic accessories',
  'Sports and travel',
  'Home and lifestyle',
  'Health and beauty'],
 'data': [1251.2, 1237.7, 1177.2, 1148.1, 1094.0, 1064.5],
 'label': 'Product Line By Rating'}

### Payment Method

In [33]:
payment_method = univariate_data_analysis("Payment", "Total", "Payment Method by Total Payment")
payment_method

{'labels': ['Cash', 'Ewallet', 'Credit card'],
 'data': [112206.57, 109993.107, 100767.072],
 'label': 'Payment Method by Total Payment'}

### Product line by Quantity

In [34]:
product_line_by_quantity = univariate_data_analysis("Product line", "Quantity", "Product line by Quantity")
product_line_by_quantity

{'labels': ['Electronic accessories',
  'Food and beverages',
  'Sports and travel',
  'Home and lifestyle',
  'Fashion accessories',
  'Health and beauty'],
 'data': [971, 952, 920, 911, 902, 854],
 'label': 'Product line by Quantity'}

In [36]:
bins = [0, 12, 18, 24]
labels = ["Morning", "Day Time", "Evening"]
df["Day Time"] = pd.cut(x=df["Hour"], bins=bins, labels=labels, include_lowest=True)
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Hour,Day Time
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08,Ewallet,522.83,4.761905,26.1415,9.1,13,Day Time
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29,Cash,76.40,4.761905,3.8200,9.6,10,Morning
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23,Credit card,324.31,4.761905,16.2155,7.4,13,Day Time
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33,Ewallet,465.76,4.761905,23.2880,8.4,20,Evening
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37,Ewallet,604.17,4.761905,30.2085,5.3,10,Morning

In [37]:
shopping_time = df.groupby("Branch")["Day Time"].value_counts()
shopping_time

Branch
A       Day Time    185
        Morning     106
        Evening      49
B       Day Time    172
        Morning      84
        Evening      76
C       Day Time    175
        Morning      90
        Evening      63
Name: Day Time, dtype: int64

In [39]:
final_shopping_time_data = {"labels": ["Branch A", "Branch B", "Branch C"], "label": "Shopping Hours"}

for index in ["A", "B", "C"]:
    result = {"label": index, "data": shopping_time[index].tolist()}
    final_shopping_time_data[index] = result